@import "tailwindcss";

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-[#242424] font-sans;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0;
  }
}

@keyframes goodbye-right {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(2000px);
  }
}

@keyframes fade-text-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@layer utilities {
  .animate-goodbye-right {
    animation: goodbye-right 0.5s ease-in-out forwards;
  }

  .animate-fade-text-in {
    animation: fade-text-in 0.5s ease-out forwards;
  }
}
